/* large device starts */
@media (max-width: 1199.98px) {
    .container {
        width: 960px;
    }

    #service .service-items .service-box {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

/* large device ends */

/* medium device starts */
@media (max-width: 991.98px) {
    .container {
        width: 720px;
    }

    .menu-bg .brand {
        position: absolute;
        left: 15px;
        top: 0px;
    }

    .menu-bg .menu {
        flex-wrap: wrap;
        padding: 0;
    }

    .menu-bg .menu-list {
        padding-top: 60px;
        width: 100%;
    }

    .menu-bg .menu-list ul {
        display: none;
        margin-top: 40px;
    }

    .menu-bg .menu-list ul li {
        float: none;
        text-align: center;
    }

    .menu-bg #openMenu {
        display: block;
    }

    #banner-bg .banner-text {
        width: 100%;
        padding-top: 180px;
    }

    #banner-bg .banner-text h2 {
        padding-bottom: 10px;
    }

    #banner-bg .banner-form {
        margin: 0 auto;
        margin-top: 70px;
    }

    #process-bg {
        padding-top: 60px;
        padding-bottom: 90px;
    }

    #process-bg .main-box {
        margin-top: 60px;
        flex-wrap: wrap;
    }

    #process-bg .main-box .box {
        width: 48%;
    }

    #process-bg .main-box .box-1,
    #process-bg .main-box .box-2,
    #service .service-items .box-1,
    #service .service-items .box-2 {
        margin-bottom: 65px;
    }

    #featured {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    #featured .featured-items {
        margin-top: 60px;
    }

    #featured .featured-items .box {
        margin-bottom: 20px;
    }

    #service {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    #service .service-items {
        margin-top: 50px;
    }

    #service .service-items .service-box {
        width: 48%;
        padding-top: 48px;
        padding-bottom: 60px;
    }

    #team {
        padding-top: 70px;
        padding-bottom: 100px;
    }

    #team .team-items {
        margin-top: 40px;
    }

    #team .team-items .team-box .overlay ul {
        margin-top: 5px;
    }

    #team .team-items .team-box .overlay ul li {
        margin-bottom: 10px;
    }

    #team .team-items .team-box .overlay ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

}

/* medium device ends */

/* small device starts */
@media (max-width: 767.98px) {
    h2 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }

    .container {
        width: 540px;
    }

    .menu-bg .brand {
        top: 10px;
    }

    .menu-bg .brand a {
        font-size: 30px;
    }

    #banner-bg .banner-text {
        width: 100%;
        padding-top: 130px;
    }

    #banner-bg .banner-form {
        width: 280px;
    }

    #banner-bg .banner-form .form-group {
        margin-bottom: 15px;
    }

    #featured .featured-items {
        margin-top: 30px;
    }

    #featured .featured-items .box {
        width: 48%;
    }

    #featured .featured-items .box-7,
    #featured .featured-items .box-8,
    #featured .featured-items .box-9 {
        display: none;
    }

}

/* small device ends */

/* extra small device starts */
@media (max-width: 575.98px) {
    .container {
        width: auto;
    }

    #process-bg .main-box .box {
        width: 100%;
    }

    #process-bg .main-box .box-3 {
        margin-bottom: 65px;
    }

    #featured {
        padding-bottom: 60px;
    }


    #featured .featured-items .box {
        width: 100%;
        margin-bottom: 35px;
    }

    #featured .featured-items .box-5,
    #featured .featured-items .box-6 {
        display: none;
    }

    #service {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    #service .service-items .service-box {
        width: 100%;
    }

    #service .service-items .box-3 {
        margin-bottom: 65px;
    }

    #team .team-items .team-box {
        width: 100%;
    }

    #team .team-items .team-box .overlay ul {
        margin-top: 40px;
    }

    #team .team-items .team-box .overlay ul li {
        margin-bottom: 20px;
    }

    #team .team-items .team-box .overlay ul li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    #team .team-items .box-1,
    #team .team-items .box-2{
        margin-bottom: 50px;
    }
}

/* extra small device ends */